[submodule "task4/social-network-user-authentication"]
	path = task4/social-network-user-authentication
	url = https://github.com/saha80/social-network-user-authentication
[submodule "task3/task3/rock-paper-scissors"]
	path = task3/rock-paper-scissors
	url = https://github.com/saha80/rock-paper-scissors
[submodule "task3/rock-paper-scissors"]
	path = task3/rock-paper-scissors
	url = https://github.com/saha80/rock-paper-scissors
