[submodule "task4/SocialNetworkUserAuthentication"]
	path = task4/social-network-user-authentication
	url = https://github.com/saha80/social-network-user-authentication
[submodule "task3"]
	path = task3/rock-paper-scissors
	url = https://github.com/saha80/rock-paper-scissors
